.list {
    list-style: none;
    padding: 10px;
}

input {
  width: 300px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
}

.login {
  background-color: black;
  color: white;
  border: none;
  width: 100px;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  font-size: medium;
  cursor: pointer;
}

.eachList {
  display: flex; /* Enables flexbox for the container */
  flex-direction: column; /* Stacks children vertically */
  align-items: flex-start; /* Aligns items to the start of the cross-axis */
  margin-bottom: 15px; /* Adds space between each input group */
}