.list {
  list-style: none;
  padding: 10px;
}

.inputSpaces {
  width: 300px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
}

.button {
  background-color: black;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px 12px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.eachList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}