* {
    padding: 0;
    margin: 0;
}

.mainHeader{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    /* border-radius: 20px; */
}

.mainHeader a {
    text-decoration: none;
    color: #f9f9f9;
}

.title{
    height: 50px;
    width: auto;
}

.button{
    background-color: black;
    padding: 10px 12px;
    border-style: none;
    cursor: pointer;
}