* {
    padding: 0;
    margin: 0;
}

.mainHeader {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    /* border-radius: 20px; */
    height: 65px;
}

.mainHeader a {
    text-decoration: none;
    color: #f9f9f9;
}

.title {
    height: 50px;
    width: auto;
}

.Accountbutton {
    background-color: black;
    padding: 10px 12px;
    border-style: none;
    cursor: pointer;
}

.information {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* left column 1 part, right column 2 parts */
    gap: 20px;
    /* space between columns */
    height: 100vh;
    /* optional: make it fill full height */
    padding: 20px;
    background-color: #f5f5f5;
}

.detailsPage {
    margin-left: 70px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* space between personal and location */
}

.personalDetails,
.locationDetails,
.listings {
    background-color: #f9f9f9;
    /* just to see boxes */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
}

.personalDetails {
    display: flex;
    flex-direction: Column;
    /* gap: 15px; */
    padding: 25px;
    position: relative;
}

.locationDetails {
    position: relative;
}

.listings {
    margin-right: 70px;
    margin-top: 20px;
    width: 90%;
    height: 100%;
}

.buttonBox {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 15px;
}

.otherButton {
    background-color: black;
    color: white;
    border: none;
    margin: 10px;
    padding: 10px 12px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.editButton {
    background-color: black;
    color: white;
    border: none;
    margin: 10px;
    padding: 10px 12px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.inputSpaces {
  width: 300px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
}