* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
}

.left {
    flex: 1;
    background: url("../assets/LoginPage.jpg") no-repeat center center;
    background-size: contain;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 300px;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    background-color: #f9f9f9;
    margin-right: 15px;
    border-radius: 20px;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 10px;
}

.main {
    border: 2px solid black;
    border-block-width: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}


/* Header */
.mainHeader{
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

.mainHeader a {
    text-decoration: none;
    color: black;
}

.title{
    height: 50px;
    width: auto;
}

.button{
    background-color: black;
    color: #f9f9f9;
    padding: 10px 12px;
    margin: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
}

/* Screen Size controller */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .left, .right {
        flex: unset;
        width: 90%;
        margin: 10px 0;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .right {
        padding: 2rem;
    }
    .left {
        background-size: cover; /* Fill more on mobile */
        min-height: 200px;
    }
}