.mainNav{
    background-color: black;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.lists{
    list-style: none;
    display: flex;
}

.lists li:not(:last-child) {
    margin-right: 5.5rem;
}

.eachList a{
    text-decoration: none;
    color: white;
}